.section__map {
  background: center no-repeat
    url("../../assets/map-section-background-image.png");
  background-size: cover;
  position: relative;

  padding-top: 40px;
  padding-bottom: 20px;
  height: 630px;
}

.section__map__image_top {
  position: absolute;
  left: 0px;
  top: -150px;
}

.section__map__image_bottom {
  position: absolute;
  right: 0px;
  bottom: -150px;
  transform: scaleX(-1);
}
