.section__map {
  background: center no-repeat
    url("../../assets/map-section-background-image.png");
  background-size: cover;
  position: relative;
  padding-bottom: 0px;
  height: 630px;
  align-content: center;
}

.section__map__image_top {
  position: absolute;
  left: 0px;
  height: 200px;
  width: 100px;
  top: -100px;
}

.section__map__image_bottom {
  position: absolute;
  right: 0px;
  height: 200px;
  width: 100px;
  bottom: -100px;
  transform: scaleX(-1);
}
