.about {
  height: 860px;
  position: relative;
  overflow: hidden;
}

.about__ellipse-image {
  position: absolute;
  width: 270px;
  height: 270px;
  top: -135px;
  right: -60px;
  transform: scaleX(-1);
}

.about__title {
  padding-left: 50px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}

.about__description {
  width: 300px;
}

.about__image {
  width: 857px;
  height: 526px;
  padding: 255px 28px 70px auto;
}
