.about {
  height: 860px;
  position: relative;
  overflow: hidden;
  display: grid;
  align-items: center;
  font-family: "DMSans", Arial, Helvetica, sans-serif;
  padding-bottom: 100px;
  background: linear-gradient(180deg, #4290d5 0%, #ffffff 100%);
  line-height: 1.2;
}

.about__ellipse-image {
  position: absolute;
  width: 270px;
  height: 270px;
  top: -135px;
  right: -60px;
  transform: scaleX(-1);
}

.about__title {
  padding-left: 50px;
  font-size: 96px;
  color: white;
  text-shadow: 5px 10px 4px black;
  margin-bottom: 0;
}

.about__wrapper {
  display: flex;
  justify-content: space-around;
  padding-left: 50px;
}

.about__description {
  width: 300px;
  align-content: center;
  margin: 0;
}

.about__span {
  display: inline-block;
}

.about__image {
  max-width: 857px;
  max-height: 526px;
  align-content: center;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .about {
    justify-content: center;
    height: 1000px;
  }

  .about__title {
    padding-left: 50px;
    font-size: 40px;
    max-width: 100px;
    margin: 0;
    padding-top: 20px;
    text-shadow: 4px 7px 4px black;
  }
  .about__wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    gap: 20px;
    align-items: center;
  }
  .about__description {
    padding-top: 50px;
  }
  .about__image {
    max-width: 300px;
    max-height: 300px;
    align-content: center;
  }
}
