.header {
  background-image: url(../../assets/header-background.jpg);
  background-position: center;
  z-index: -1;
  padding: 10px 10px 0px 10px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 966px;
  box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.nav {
  position: fixed;
  top: 8px;
  left: 8px;
  right: 8px;
  z-index: 1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.nav__links {
  display: flex;
  background-color: rgba(255, 255, 255, 0.5);
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-radius: 10px;
  width: 100%;
  padding: 12px 0;
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  height: 64px;
  max-width: 186px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  font-family: "DMSans", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1;
  font-style: italic;
}

.nav__button {
  text-decoration: none;
  cursor: pointer;
}

.header__title {
  text-align: center;
  margin: 290px 0 0 0;
  font-family: "DMSans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1;
  font-style: italic;
}
