.footer {
  background-color: #0a1f26;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
}

.footer__container {
  background-image: url(../../assets/map-section-background-image.png);
  background-size: cover;
  width: 100%;
  min-height: 324px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 10px;
  gap: 10px;
}

.footer__card {
  width: 140px;
  height: 260px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 10px;
  border-radius: 24px;
}

.footer__name {
  margin: 0;
  text-align: center;
  font-size: 26px;
  line-height: 1;
  font-family: "DMSans", Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.footer__career-title {
  margin: 0;
  font-size: 16px;
  font-style: italic;
  font-family: "DMSans", Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.footer__career-title-block {
  text-align: center;
  display: block;
}
.footer__github-icon {
  width: 20px;
  height: 20px;
}

.footer__linkedin-icon {
  width: 20px;
  height: 20px;
}

.footer__social-link {
  display: flex;
  gap: 5px;
  text-decoration: none;
  cursor: pointer;
  font-family: "DMSans", Arial, Helvetica, sans-serif;
  line-height: 1;
  font-weight: 400;
  font-size: 20px;
  color: #000;
}

.footer__copyright {
  text-align: center;
  color: #fff;
}

@media screen and (min-width: 320px) and (max-width: 800px) {
  .footer {
    padding: 0 40px;
    min-height: 100%;
  }

  .footer__container {
    max-width: 100%;
    flex-wrap: wrap-reverse;
    height: auto;
    padding: 20px 10px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer__name {
  }

  .footer__career-title {
  }

  .footer__github-icon {
  }

  .footer__linkedin-icon {
  }

  .footer__social-link {
  }
}
