.footer {
  background-color: #0a1f26;
  height: 473px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__container {
  background-image: url(../../assets/map-section-background-image.png);
  width: 1276px;
  height: 324px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__card {
  width: 140px;
  height: 260px;
  background-color: #fff;
}

.footer__copyright {
  text-align: center;
  color: #fff;
}
