.google-map__wrapper {
  border-radius: 20px;
  padding: 0px;
  border: solid 20px #0a1f26;
  margin: 0 auto;
  max-width: 800px;
  height: 500px;
}

.google-map__map {
  max-width: 800px;
  height: 500px;
  margin: 0;
  padding: 0px;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .google-map__wrapper {
    height: 300px;
    max-width: 600px;
  }

  .google-map__map {
    height: 300px;
    max-width: 600px;
  }
}
